@use '../helpers' as *;

.blog-actions {
  &__list {
    display: flex;
    column-gap: fluid(10);

    @include laptop {
      column-gap: rem(8)
    }
  }

  &__button {
    background-color: var(--color-dark-10);
  }


}