@use '../helpers' as *;

.bordered-grid {
  --сolumns: 1;
  --itemPaddindY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--сolumns), 1fr);

  &--2-cols {
    --сolumns: 2;
  }

  &--3-cols {
    --сolumns: 3;
    --itemPaddingX: #{rem(50)};

    laptop {
      --itemPaddingX: #{rem(40)};
    }

    /**
     Выбираем элементы в 1-й и 2-й колонке
     */
    .bordered-grid__item {
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        padding-right: var(--itemPaddingX);
        border-right: var(--border);
      }

      /**
     Выбираем элементы во 2-й колонке
     */
      &:nth-child(3n - 1) {
        @include full-vw-centered-line(bottom);
      }

      /**
     Выбираем элементы во 2-й и 3-й колонке
     */
      &:nth-child(3n - 1),
      &:nth-child(3n) {
        padding-left: var(--itemPaddingX);
      }
    }
  }

  &__item {
    padding-block: var(--itemPaddindY);
  }

}