/* Error: expected "{".
 *   ,
 * 8 |     rem(8)
 *   |           ^
 *   '
 *   future-tech/styles/blocks/_blog-actions.scss 8:11  @use
 *   future-tech/styles/main.scss 29:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 8 \2502      rem(8)\a   \2502            ^\a   \2575 \a   future-tech/styles/blocks/_blog-actions.scss 8:11  @use\a   future-tech/styles/main.scss 29:1                  root stylesheet';
}
